input{
  display: inline;
  align: right;
  width: 24px;
}

p {
  display: inline;
}

.score {
  font-size: 24;
}

.tower {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 420px;
  position: relative;
  background-color: black;
  color: white;
}
.piece-container {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.selected{
  border: 3px solid yellow;
}

.disk{
  position: relative;
  background-color: gray;
  margin-top: 2px;
  margin-left:auto;
  margin-right:auto;
  width:200px;
  height:50px;
}

.winner{
  color: yellow;
  font-size: 36px;
}
